<div ng-controller="AboutusCtrl" layout="column" flex layout-fill ng-cloak>
    <section layout="column" flex layout-align="center center" class="login">
        <md-card class="md-whiteframe-4dp">
            <md-toolbar>
                <div layout="column" layout-padding layout-align="center center">
                    <div>
                        <i class="material-icons md-36">group</i>
                    </div>
                    <div class="md-headline md-padding">About Us</div>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-subheader class="md-no-sticky"><md-icon>group_work</md-icon>Group Members</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <h3>Nobufumi Takahashi</h3>
                    <h3>Ryan Barton</h3>
                    <h3>Bohan Yao</h3>
                </md-list-item>
                <md-divider></md-divider>
                
                <md-subheader class="md-no-sticky"><md-icon>backup</md-icon>Git Url</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>https://github.com/kitsutoNT/Web-III-Assignment-2</p>
                </md-list-item>
                <md-divider></md-divider>
                
                <md-subheader class="md-no-sticky"><md-icon>cloud_circle</md-icon>Reference</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>https://material.angularjs.org/latest/</p>
                </md-list-item>
                <md-list-item class="secondary-button-padding">
                    <p>http://codepen.io/bhadresh/pen/KVgxdy</p>
                </md-list-item>
                <md-divider></md-divider>
                
            </md-card-content>
        </md-card>
    </section>
</div>