<div>
  <md-content class="md-padding"  layout="column">
    <form ng-submit="login()" ng-controller="LoginCtrl" role="form" >
      <div>
        <md-whiteframe class="md-whiteframe-z1" layout="column" flex="20" layout-padding>
          <md-input-container class="md-icon-float md-block">
            <i class="material-icons">account_box</i>
            <input id="userName" ng-model="userName" type="text" placeholder="UserName" ng-required="true">
          </md-input-container class="md-block">
          <md-input-container class="md-icon-float md-block">
            <i class="material-icons">lock</i>
            <input id="password" ng-model="password" type="password" placeholder="Password" ng-required="true">
          </md-input-container>
          <md-input-container class="md-block">
            <input type="submit" id="submit" value="Submit" />
            <!--<button ng-click="login($event)" type="submit">Login</button>-->
          </md-input-container>
          <p id="results">
            
          </p>
          <div>
            <h5>{{credentials}}</h5>
          </div>
        </md-whiteframe>  
        <h5></h5>
      </div>
    </form>
  </md-content>  
</div>